<h2>Books search for "<%= @word %>"</h2>
<table class="table table-hover table-inverse">

  <% if @range == "User" %>
    <%= render 'users/index', user: @users %>
  <% elsif @range == "Book" %>
    <%= render 'books/index', books: @books %>
  <% end %> 
</table>